<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="conStr" value="Server=qds-045.hichina.com;database=qds0450616_db;Uid=qds0450616;Pwd=Daisy520"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="10240" executionTimeout="60" appRequestQueueLimit="100"/>
    <customErrors mode="RemoteOnly" defaultRedirect="syeError.html"/>
  </system.web>
</configuration>